<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footbal data</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
                    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
                    
</head>
<style>
    .main{ 
        max-width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<body>
    <section class="main">
    <div class="btn-group">
        <a href="{% url 'index' %}" type="button" class="btn btn-primary">Home</a>
        <a href="" type="button" class="btn btn-primary">Get Squad</a>
        <a href="" type="button" class="btn btn-primary">Get countries</a>
        <a href="" type="button" class="btn btn-primary">Get Teams of a country</a>
        <a href="" type="button" class="btn btn-primary">Get fixtures</a>
      </div>
 <div>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">
    {{message}}
  </div>
  {% endfor %}
  {% endif %}

 </div>
    </section>
 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" 
                    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<script type="text/javascript">
    function init_update_data() {
      async function check_for_update() {
        const response = await fetch("{% url 'index' %}");
        
        console.log(response);        
        }
      // initial call to retrieve data  
      check_for_update();
      setInterval(check_for_update, 10000); // call every 1 hour
    }
    // run once when the window is loaded
    window.onload = init_update_data;

</script>
</body>


</html>